/*
document.head.insertAdjacentHTML("beforeend", `<style>
*/
.passed>td:last-of-type {
    background-color: #81B622;
}

.passed>td:nth-child(4)>b {
    color: #81B622;
}

.future>td:last-of-type {
    background-color: #FFBB5C;
}

.future>td:nth-child(4)>b {
    color: #FFBB5C;
}

.today>td:last-of-type {
    background-color: #D1462F;
}

.today>td:nth-child(4)>b {
    color: #D1462F;
}

.commission>td:last-of-type {
    background-color: #040D12;
}

.commission>td:nth-child(4)>b {
    color: #040D12;
}

.notPublished>td:last-of-type {
    background-color: rgb(153, 153, 153);
}

.notPublished>td:nth-child(4)>b {
    color: rgb(153, 153, 153);
}

#infoTable {
    padding: 14px 20px 14px 25px;
    color: #a7b1c2;
    font-weight: 600;
}

#infoTable td {
    padding: 10px;
    border-bottom: 1px solid;
}

#infoTable tr:hover {
    background-color: #293846;
    color: white;
}

#infoTable tr > td:last-of-type {
    text-align: center;
    font-size: large;
}

#infoButtonContainer {
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
}

/*
</style>`);
*/